* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li {list-style: none;}
a {
    text-decoration: none;
    color: #fff;
}
img {display: block;}
h1 {
    color: #fff;
}
body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background: hsl(0, 0%, 8%);
}

.container {
    max-width: 1280px;
    margin-inline: auto;
    padding: 20px;
}

.myself, .table {
    background-color: hsl(0, 0%, 12%);
    color: #fff;
    text-align: center;
    padding-block: 20px;
    padding-inline: 100px;
}

.social-links {
    /* padding-inline: 100px; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 20px;
    column-gap: 100px;
}
.link {
    background-color: hsl(0, 0%, 20%);
    padding-block: 13px;
    border-radius: 8px;
    width: 100%;
    height: 46px;
    transition: width 1.2s;
}
.link:hover {
    background-color: hsl(180, 8%, 76%); 
    width: 78%;
    border: 3px solid #fff;
    & > a {
        color: #000;
    }
}

.table {
    width: 100%;
    margin-top: 50px;
    text-align: left;
}

th {
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color:  hsl(0, 0%, 20%);
    
}
th:hover {
    background-color: hsl(180, 8%, 76%);
    color: #000;
}
td {
    padding-inline: 20px;
    padding-block: 10px;
    background-color: rgb(147, 145, 142);
}
td:hover, td:hover > a {
    background-color: aliceblue;
    color: #000;
}
